@page
@model MilkShop.Pages.ProductCategoryPages.IndexModel

@{
    ViewData["Title"] = "Index";
}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Categories</li>
    </ol>
</div>
<!-- Single Page Header End -->
<h1>Index</h1>

@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["SuccessMessage"]
    </div>
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<form method="get">
    <div class="input-group mb-3">
        <input class="form-control" asp-for="SearchTerm">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<table id="productCategoryTable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductCategory.Items[0].ProductCategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.ProductCategory.Items[0].Status)</th>
            <th>@Html.DisplayNameFor(model => model.ProductCategory.Items[0].CreatedDate)</th>
            <th>@Html.DisplayNameFor(model => model.ProductCategory.Items[0].ProductCategoryDescription)</th>
            <th>@Html.DisplayNameFor(model => model.ProductCategory.Items[0].UpdatedDate)</th>
            <th>@Html.DisplayNameFor(model => model.ProductCategory.Items[0].ThumbnailImage)</th>
            <th>@Html.DisplayNameFor(model => model.ProductCategory.Items[0].CategoryLevel)</th>
            <th>@Html.DisplayNameFor(model => model.ProductCategory.Items[0].MetaKeywords)</th>
            <th>@Html.DisplayNameFor(model => model.ProductCategory.Items[0].CategoryCode)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductCategory.Items)
        {
            <tr data-href="@Url.Page("./Details", new { id = item.ProductCategoryId })" style="cursor: pointer;">
                <td>@Html.DisplayFor(modelItem => item.ProductCategoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductCategoryDescription)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdatedDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ThumbnailImage)</td>
                <td>@Html.DisplayFor(modelItem => item.CategoryLevel)</td>
                <td>@Html.DisplayFor(modelItem => item.MetaKeywords)</td>
                <td>@Html.DisplayFor(modelItem => item.CategoryCode)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ProductCategoryId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.ProductCategoryId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between align-items-center">
    <a asp-page="/ProductCategoryPages/Index" asp-route-SearchTerm="@Model.SearchTerm" asp-route-PageIndex="@(Model.PageIndex - 1)"
       class="@(Model.PageIndex == 1 ? "disabled" : "") btn btn-primary">Previous</a>

    <span>Page @Model.ProductCategory.Page of @Model.ProductCategory.TotalPages </span>

    <a asp-page="/ProductCategoryPages/Index" asp-route-SearchTerm="@Model.SearchTerm" asp-route-PageIndex="@(Model.PageIndex + 1)"
       class="@(Model.PageIndex == Model.ProductCategory.TotalPages ? "disabled" : "") btn btn-primary">Next</a>
</div>

<style>
    .disabled {
        pointer-events: none;
        color: grey;
    }
</style>

<script>
    $(document).ready(function () {
        $('#productCategoryTable tbody').on('click', 'tr', function () {
            var productId = $(this).data('id');
            window.location.href = 'Details?id=' + productId;
        });
    });
</script>
