@page
@model MilkShop.Pages.ProductPages.IndexModel

@{
    ViewData["Title"] = "Product";
}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop</li>
    </ol>
</div>
<!-- Single Page Header End -->
@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["SuccessMessage"]
    </div>
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}

<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Milk shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <form method="get">
                            <div class="input-group w-100 mx-auto d-flex">

                                <input type="search" class="form-control p-3" asp-for="SearchTerm" placeholder="keywords" aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                            </div>
                        </form>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label for="fruits">Default Sorting:</label>
                            <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                <option value="volvo">Nothing</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Categories</h4>
                                    <ul class="list-unstyled milk-categorie">
                                        <li>
                                            <div class="d-flex justify-content-between milk-name">
                                                <a href="#"><i class="fas fa-glass-whiskey me-2"></i>Sữa Tươi</a>
                                                <span>(10)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between milk-name">
                                                <a href="#"><i class="fas fa-glass-whiskey me-2"></i>Sữa Chua</a>
                                                <span>(8)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between milk-name">
                                                <a href="#"><i class="fas fa-glass-whiskey me-2"></i>Sữa Bột</a>
                                                <span>(6)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between milk-name">
                                                <a href="#"><i class="fas fa-glass-whiskey me-2"></i>Sữa Đặc</a>
                                                <span>(4)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between milk-name">
                                                <a href="#"><i class="fas fa-glass-whiskey me-2"></i>Sữa Hạt</a>
                                                <span>(7)</span>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="~/img/chatImg.png" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <!--<h3 class="text-secondary fw-bold">Fresh <br> Milk <br> Banner</h3>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">

                            @foreach (var item in Model.Product.Items)
                            {   
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img border border-secondary border-bottom-0 rounded-top">
                                                <a asp-page="./Details" asp-route-id="@item.ProductId">
                                                    <img src="@Url.Content(item.ProductImage)" class="img-fluid w-100 rounded-top" alt="Product Image">
                                                </a>
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@Html.DisplayFor(modelItem => item.ProductCategory.ProductCategoryName)</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4>@Html.DisplayFor(modelItem => item.ProductName)</h4>
                                                <p>@Html.DisplayFor(modelItem => item.ProductDescription)</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">@((int)item.ProductPrice)₫</p>
                                                    <a asp-page="/OrderPages/AddToCart" asp-route-id="@item.ProductId" asp-route-pageIndex="@Model.PageIndex" asp-route-searchTerm="@Model.SearchTerm" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            }
                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center align-items-center mt-5">
                                    <a asp-page="/ProductPages/Index" asp-route-SearchTerm="@Model.SearchTerm" asp-route-PageIndex="@(Model.PageIndex - 1)"
                                       class="@(Model.PageIndex == 1 ? "disabled" : "") btn btn-primary">Previous</a>

                                    <span class="m-2">Page @Model.Product.Page of @Model.Product.TotalPages </span>

                                    <a asp-page="/ProductPages/Index" asp-route-SearchTerm="@Model.SearchTerm" asp-route-PageIndex="@(Model.PageIndex + 1)"
                                       class="@(Model.PageIndex == Model.Product.TotalPages ? "disabled" : "") btn btn-primary">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->


<h1>Product</h1>

<p>
    <a class="btn btn-sm btn-outline-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Items[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Items[0].ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Items[0].ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Items[0].ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Items[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Items[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Items[0].StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Items[0].ProductBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Items[0].ProductCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    <img src="@Url.Content(item.ProductImage)" alt="Product Image" style="width:100px; height:100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductBrand.ProductBrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory.ProductCategoryName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-primary">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-primary">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="/ProductPages/Index" asp-route-SearchTerm="@Model.SearchTerm" asp-route-PageIndex="@(Model.PageIndex - 1)"
       class="@(Model.PageIndex == 1 ? "disabled" : "") btn btn-primary">Previous</a>

    <span>Page @Model.Product.Page of @Model.Product.TotalPages </span>

    <a asp-page="/ProductPages/Index" asp-route-SearchTerm="@Model.SearchTerm" asp-route-PageIndex="@(Model.PageIndex + 1)"
       class="@(Model.PageIndex == Model.Product.TotalPages ? "disabled" : "") btn btn-primary">Next</a>
</div>

<style>
    .disabled {
        pointer-events: none;
        color: grey;
    }
</style>
